@model List<UInformation>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>用户管理</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <style>
        #tb1 {
            width: 100%;
            height: 490px;
            table-layout: fixed;
        }
        #tb1 tr, td, th {
            border: 1px solid gray;
            text-align: center;
        }
        #tb1 tr, td {
            height: 40px;
        }
        #tb1 th {
            width: 60px;
        }
        #div_input div {
            width: 200px;
            float: left;
            margin-left: 25px;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <form method="post">
        <div style="width:100%;height:150px;">
            <div id="div_input">
                <div>用户编号： <input name="Uid" /></div>
                <div>用户姓名： <input name="Name" /></div>
                <div>电话号码： <input name="Phone" /></div>
                <div>身份证号： <input name="Idcard" /> </div>
                <div>地址：     <input name="Address" /></div>
                <div>登录名：   <input name="ULogin" /></div>
                <div>登录密码： <input name="UPword" /></div>
                </div>
            <div style="margin-top: 27px;margin-left: 26px;float: left;">
                <button type="submit" asp-action="AddFilm">添加用户</button>
                <button type="submit" asp-action="UpFilm">修改用户</button>
            </div>
        </div>
    </form>
    <div style="width:100%;height:490px;overflow:scroll">
        <table id="tb1" class="table-sm">
            <thead>
                <tr>
                    <th>用户编号</th>
                    <th>用户姓名</th>
                    <th>电话号码</th>
                    <th style="width:150px;">身份证号</th>
                    <th>地址</th>
                    <th>登录名</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var use in Model)
                {
                    <tr>
                        <td> @use.Uid </td>
                        <td> @use.Name </td>
                        <td> @use.Phone </td>
                        <td> @use.Idcard </td>
                        <td> @use.Address </td>
                        <td> @use.ULogin </td>
                        <td>
                            <a href="#" onclick="REMOVE(this.name)" name=@use.Uid>删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script>
        function REMOVE(id) {
            if (confirm("你确定要删除吗？") == true) {
                location.href = "DelFilm?id=" + id;
            }

        }
    </script>
</body>
</html>
